.br-banner-wrapper {
  margin-bottom: 10px;
}

.br-banner-container {
  height: 90px;
  max-width: 1200px;
}

.br-banner-img {
  margin: auto;
  display: block;
  position: relative;
  text-align: center;
}

.br-banner-img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
