.br-filterBox-container {
  vertical-align: top;
  position: -webkit-sticky;
  position: sticky;
  top: 102px;
  z-index: 2000;
  width: 260px;
  height: 900px;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background: #fff;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 11px rgba(83, 68, 68, 0.2);
}

@media (max-width: 780px) {
  .br-filterBox-container {
    display: none;
  }
}
