.br-home-page-wrapper {
  width: 100%;
}

.br-searchbar-postcards-desktop-container {
  display: inline-block;
  width: calc(100% - 260px);
}

@media (max-width: 780px) {
  .br-searchbar-postcards-desktop-container {
    display: inline-block;
    width: 100%;
  }
}
