.br-filter-container {
  vertical-align: top;
  position: relative;
  height: 500px;
  width: 250px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
  background: #fff;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 11px rgba(83, 68, 68, 0.2);
}

@media screen and (max-width: 520px) {
  .br-filter-container {
    display: block;
  }
}
