.br-postThumb-container {
  width: calc(100% - 20px);
  height: 125px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 11px rgba(83, 68, 68, 0.2);
}

.br-postThumb-container:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.4);
}

.br-postThumb-img-container {
  position: relative;
  text-align: center; /* needed to allow vertical centering */
  line-height: 120px; /* overall post card height - post header height | used to center photo in white space*/
  display: inline-block;
  height: 125px;
  width: 125px;
  margin-right: 10px;
  overflow: hidden;
}

.br-postThumb-img-background {
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  opacity: 1;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
}

.br-postThumb-img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle; /* center vertically */
  margin: 0 auto; /* center horizontally */
  display: inline-block;
  text-align: center;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 11px rgba(83, 68, 68, 0.2);
  border: 1px solid rgb(255, 255, 255);
}

.br-postThumb-details {
  width: calc(100% - 135px);
  padding: 10px 10px 10px 0px;
  vertical-align: top;
  display: inline-block;
  height: 125px;
  position: relative;
  color: #303030;
}
