.br-post-modal-wrapper {
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 15px;
  position: fixed;
  margin: 0 auto;
  height: 100vh;
  max-width: 800px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1100;
}

.br-post-modal-grey {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 15px;
  position: fixed;
  margin: 0 auto;
  z-index: 1100;
}

/* THIS WILL NOT BE IN USE */
.br-post-preview-card {
  width: 240px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
}

.br-post-card-container {
  position: relative;
  display: inline-block;
  height: 380px; /* overall size of post card */
  width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #fff;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 11px rgba(83, 68, 68, 0.2);
}

.br-post-card-container:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.4);
}

.br-post-card-header {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 40px;
  padding: 5px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+75,0+100 */
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.br-post-card-header:hover {
  cursor: default;
}

.br-post-card-header-star-icon:hover {
  cursor: pointer;
}

.br-post-card-img-wrapper {
  text-align: center; /* needed to allow vertical centering */
  line-height: 340px; /* overall post card height - post header height | used to center photo in white space*/
}

.br-post-card-img {
  max-height: 340px; /* overall post card height - post header height | used to center photo in white space*/
  max-width: 250px;
  vertical-align: middle; /* center vertically */
  margin: 0 auto; /* center horizontally */
  position: relative;
}

.br-post-card-img:hover {
  cursor: pointer;
}

.br-post-card-content {
  z-index: 2;
  height: 80px;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  background: #fff;
}

.br-post-card-content:hover {
  cursor: pointer;
}
