.br-layout-button-wrapper {
  display: inline-block;
}

.br-layout-button {
  float: right;
}

.br-layout-options {
  padding: 5px;
  background: #fff;
  box-shadow: 0 0 11px rgba(83, 68, 68, 0.2);
}
