.wrapperApp {
  min-height: calc(100vh - 100px);
}

.wrapperNavbar {
  min-height: 63px;
}

.wrapperBody {
  min-height: calc(100vh - 163px);
  background-color: #f3f7f9;
  padding: 0px 0px 30px 0px;
}
