.wrapperApp {
  min-height: calc(100vh - 100px);
}

.wrapperNavbar {
  min-height: calc(0.25rem + 60px);
}

.wrapperBody {
  min-height: calc(100vh - 160px);
  background-color: #f3f7f9;
  padding: 20px 0px 30px 0px;
}
