.br-layout-button-wrapper {
  display: inline-block;
}

.br-layout-button {
  z-index: 2;
  float: right;
}

.br-layout-options {
  position: absolute;
  z-index: 1000;
  padding: 5px;
  background: #fff;
  box-shadow: 0 0 11px rgba(83, 68, 68, 0.2);
}
