.logo {
  width: 170px;
  float: left;
  padding: 10px 0px 20px 10px;
}
.clear {
  clear: both;
}

.navItems {
  float: right;
  width: calc(100% - 170px);
}

.ant-menu-horizontal {
  border-bottom: none;
  padding-bottom: 20px;
}

.ant-menu-item {
  float: right;
}
