.navbar {
  box-shadow: 0 3px 0.125rem 0 rgba(0, 0, 0, 0.075); /* Add underline below navbar */
}

.clear {
  clear: both; /* fix to make other <div>s NOT overlap a div that is floated */
}

.navItems {
  float: right; /* floats the div that holds the nav items to the right */
  padding-top: 6px; /* center nav items */
  /* width: calc(
    100% - 170px
  ); make navitems span the rest of the horizontal space next to logo */
}

.navigationItems {
  border-bottom: none; /* remove the default bottom border from antd */
  float: right; /* floats the nav items to the right */
}

.br-navbar-create-post {
  display: inline-block;
}

.drawerButton {
  margin-top: 8px; /* center drawer button */
  margin-right: 14px;
  float: right;
}

.ant-drawer-body {
  padding: 0px;
}

@media (max-width: 900px) {
  .navigationItems {
    display: none;
  }
  .br-navbar-create-post {
    display: none;
  }
}

@media (min-width: 901px) {
  .drawerButton {
    display: none;
  }
}
